html {
  background-color: #680b0b;
}
.background {
  opacity: 1;
  background-image: url(../imgs/Nepal/monastery.jpg);
}
.title,
.subTitle {
  font-family: 'Handlee';
  font-weight: bolder;
  font-size: 54px;
  color: black;
  margin: 0;
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 20px;
  position: relative;
}
.logo {
  float: left;
}
.navigate {
  text-align: center;
  font-family: 'Handlee';
  font-size: 20px;
  border-bottom: 4px solid black;
  text-decoration: none;
}
a:link {
  color: #1A0000;
  text-decoration: none;
}
a:visited {
  color: #1A0000;
  font-weight: bold;
  text-decoration: none;
}
.slideShow {
  height: 465px;
  margin-bottom: 100px;
  margin-top: 200px;
}
.photo {
  border: solid 8px black;
}
.countryPhoto {
  margin-top: 60px;
  padding: 0 100px 80px 200px;
}
.Nepal,
.Bali,
.Thailand {
  border: 4px solid black;
}
.aboutCountry {
  position: relative;
  height: 180px;
  width: 250px;
  border: 2px solid black;
  background-color:;
  opacity: ;
  font-family: ;
  font-size: ;
  color:;
  -webkit-animation: fadeIn 10s 1;
  animation: fadeIn 10s 1;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.tripPlanner {
  margin-top: 40px;
  position: relative;
  border: 4px solid black;
}
