html {
  background-color: #680b0b;
/*  background-image: url(../imgs/Nepal/monastery.jpg);
*/}
.title,
.subTitle {
  font-family: 'Handlee';
  font-weight: bolder;
  color: black;
  margin: 0;
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 20px;
  z-index: 2;
  position: relative;
}
.title {
  font-size: 54px;
}
.subTitle {
  font-size: 54px;
}
.logo {
  float: left;
}
.navigate {
  text-align: center;
  font-family: 'Handlee';
  font-weight: bold;
  color: #000000;
  font-size: 18px;
}
a:link {
  color: #1A0000;
}
a:visited {
  color: #1A0000;
}
/*body {
  background-image: url(../imgs/Nepal/monastery.jpg);
  opacity: .5;*/
}
.background.Photo {
  background-image: url(../imgs/Nepal/monastery.jpg);
}
.slideShow {
  height: 600px;
  margin-bottom: 100px;
  margin-top: 20px;
}
.photo {
  border: solid 8px black;
}
.aboutFooter {
  padding-top: 700px;
}
