html {
  background-color: #680b0b;
}
header {
  margin-top: 40px;
  background-image: url(../imgs/Nepal/bamboocopy.jpg);
  border: 4px solid black;
}
.tripBackground {
  background-image: url(../imgs/Nepal/monastery.jpg);
}
.resourceBackground {
  height: 950px;
  background-image: url(../imgs/Nepal/nepal7.jpg);
}
.title {
  font-family: 'Handlee';
  font-weight: bolder;
  font-size: 60px;
  color: black;
  margin: 0px;
  padding-top: 30px;
  padding-left: 280px;
  padding-bottom: 20px;
  position: relative;
}
.logo {
  float: left;
}
.navigate,
.nav {
  text-align: center;
  font-family: 'Handlee';
  font-size: 20px;
  border-bottom: 4px solid black;
  text-decoration: none;
  background-color: black;
  color: #ffffff;
}
li ~ a {
  color: blue;
  font-weight: bolder;
  text-decoration: none;
}
.slideShow {
  height: 465px;
  margin-bottom: 20px;
  margin-top: 60px;
}
.resourceLinks<a {
  color: blue;
  text-decoration: none;
}
.photo {
  border: solid 8px black;
}
.aboutArticle {
  margin-top: 40px;
  font-size: 18px;
  color: black;
}
.countryPhoto {
/*  margin-top: 60px;*/
  padding: 20px 120px 40px 180px;
}
.Nepal,
.Bali,
.Thailand {
  border: 4px solid black;
}
.aboutCountry {
  position: relative;
  height: 400px;
  width: 260px;
  color: black;
  font-size: 18px;
  -webkit-animation: fadeIn 10s 1;
  animation: fadeIn 10s 1;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.tripPlanning,
.tripResources {
  height: 520px;
  width: 900px;
  margin-top: 40px;
  position: relative;
  border: 4px solid black;
  background: #F0F8FF;
  text-indent: 60px;
}
#inName,
#inEmail {
  margin-left: 60px;
  width:200px;
}
#submit_btn {
  margin-left: 60px;
  border: 2px solid black;
  color: black;
  background-color: #0c877f;
}
#download_btn {
  margin-left: 180px;
  margin-top: -40px;
}
.contact {
  color: black;
  font-weight: bolder;
  font-size: 16px;
}
.socialIcon {
  float: right;
  padding: 5px;
}

